@model IEnumerable<FrancisPetShopMVC.Data.Entities.Animal>

@{
    ViewData["Title"] = "Admin Page";
}


<h1 style="display: flex; justify-content: flex-start; align-items: center; flex-direction: column;">@ViewData["Title"]</h1>
<head>
</head>
<div style="width: 280px; text-align: center;">
    @Html.DropDownList("CategoryId", ViewBag.Categories as SelectList, "-- Select Category --", new { @class = "form-select" })
    <button style="align-self:center; width: 280px" type="button" class="btn btn-sm btn-outline-primary" id="filterButton">Filter</button>
</div>
<div style="display: flex; justify-content: flex-start; align-items: center; flex-direction: column;">
    <a style="width:300px; height:75px; margin-bottom:20px; font-size:30px" href="@Url.Action("Create")" class="btn btn-primary">Add new pet</a>
</div>

    

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table table-dark table-striped">
            <tr style="font-size:35px">
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Description</th>
                <th>Modify Pets</th> 
                
        </tr>            
    </thead>                    
    <tbody>
            @foreach (var item in Model)            
            {
                <tr class="table table-dark table-striped">
                    <td>
                        <img style="width: 200px ;height: 200px; object-fit: cover;" src="/Images/@item.ImageFileName" alt="Animal Image" class="animal-image">
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Description</td>
                    <td style="text-align: center; text-align:center;">
                        <a style="text-align:center;" href="@Url.Action("Delete", new { id = item.AnimalId })" class="btn btn-sm btn-outline-primary">Delete</a>
                        <a href="@Url.Action("Edit", new { id = item.AnimalId })" class="btn btn-sm btn-outline-primary">Edit</a>
                    </td>                   
                 </tr>
}
    </tbody>       
</table>

    
</div>

    
    @section Scripts {
        <script>
            $(function () {
                $('#filterButton').click(function () {
                    var categoryId = $('#CategoryId').val();
                    window.location.href = '/Admin?categoryId=' + categoryId;
                });
            });
        </script>
    }
