@model Animal
@{
    ViewData["Title"] = "Details";
    var categoryName = ViewData["CategoryName"];
    var comments = (List<string>)ViewData["Comments"];
}

<h1 style="text-align:center">Pet Details:</h1>
<div>
    Pet Image
</div>

<td>
    <img style="width: 200px ;height: 200px; object-fit: cover;" src="/Images/@Model.ImageFileName" alt="Animal Image" class="animal-image">
</td>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @categoryName
        </dd>
    </dl>
</div>

<div>
    <h4>Add a Comment:</h4>
    <div class="form-group">
        <input type="text" id="commentInput" class="form-control" placeholder="Enter your comment">
    </div>
    <div style="height: 40px; padding-top:12px" class="form-group">
        <button type="button" class="btn btn-primary" onclick="postComment()">Post Comment</button>
    </div>
</div>

<div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Comments:</th>
            </tr>            
        </thead>
        <br/>
        <tbody>
            @foreach (var comment in comments)
            {
                <tr>
                    <td>@comment</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        function postComment() {
            var commentText = $('#commentInput').val();
            var animalId = @Model.AnimalId; // Assuming you have the animal ID available in the view model

            $.ajax({
                url: '@Url.Action("AddComment", "Animals")',
                type: 'POST',
                data: { id: animalId, commentText: commentText },
                success: function () {
                    // Reload the page to display the updated comments
                    location.reload();
                },
                error: function () {
                    alert('An error occurred while adding the comment.');
                }
            });
        }
    </script>
}








